.card {
    background-color: whitesmoke;
    height: 450px;
    padding: auto;
    gap: .125rem;
    border: 2px solid white;


    &:hover {
        animation-name: card;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    h5 {
        height: 6%;
    }

    img {
        height: 65%;
        border-radius: .3125rem;
    }

    p {
        height: 4%;
        text-align: center;
    }
    p{height: 2%;
        text-align: center;

    }

    a {
        height: 11%;
        width: 50%;
        margin: auto;
        background-color: white;
        border: 1px solid black;


        img {
            width: 30%;
            height: 100%;
            padding: auto;

        }
    }
}

