main{
   gap: 1.25rem;
   .tituloDos{
      border:2px solid red;
   }
   .field{
      width: 50%;
      margin: auto;
      border: 2px solid red;
      border-radius: .625rem;
      margin-top: .9375rem;
      background-color: whitesmoke;
   
   }
   #OfertaBebida{
      font-family: "Contrail One", sans-serif;
      &:hover{
         box-shadow: 10px 10px  red;
         
   
      }
   }
   #OfertaAlmacen{
      font-family: "Contrail One", sans-serif;
      &:hover{
         box-shadow: 10px 10px  red;
   
      }
   }
   #OfertaLimpieza{
      font-family: "Contrail One", sans-serif;
      &:hover{
         box-shadow: 10px 10px  red;
   
      }
   }
   .botonFinalizarCompra{
      &:hover{
         box-shadow: 3px 3px  red;
   
      }
   }
   .botonEliminar{
      &:hover{
         box-shadow: 3px 3px  red;
   
      }
   }
}

